.Outer{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horSpace{
    height: 10px;
}
.FormCard{
    width: 25rem;
    height: 20rem;
    background-color:white;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
}